@charset "UTF-8";

.button {
    background-color: #00345c;
    padding: 10px 59px;
    border: 1px solid #00345c;
    border-radius: 7px;
    font-size: 2rem;
    text-decoration: none;
    color: #f1f5f8;
    transition: background-color .3s, color .3s;
}

.button:hover {
    cursor: pointer;
    background-color: transparent;
    color: #00345c;
}
